In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('sunburst_officer.csv')
df

         race          age gender     status  count
0       White  middle-aged      M   APPROVED   1686
1    Hispanic  middle-aged      M  SUBMITTED    517
2       Black  middle-aged      M   REVIEWED    453
3    Hispanic  young adult      M   REVIEWED    590
4    Hispanic  middle-aged      M   REVIEWED    776
..        ...          ...    ...        ...    ...
139     White  middle-aged      M   REVIEWED   1672
140     White  middle-aged      M  SUBMITTED   1088
141     White  middle-aged      M   REVIEWED   1004
142     Black  young adult      M  SUBMITTED    423
143     Black  middle-aged      M  SUBMITTED    422

[144 rows x 5 columns]

In [20]:
races = pd.unique(df['race'])
ages = pd.unique(df['age'])
genders = pd.unique(df['gender'])
statuses = pd.unique(df['status'])

In [38]:
children = []
for race in races:
    children_race = []
    df_race = df[df['race'] == race]
#     print(df_race)
    for age in ages:
        children_age = []
        df_age = df_race[df_race['age'] == age]
        for gender in genders:
            children_gender = []
            df_gender = df_age[df_age['gender'] == gender]
            for status in statuses:
                df_status = df_gender[df_gender['status'] == status]
                count = sum(df_status['count'])
                if count > 0:
                    children_gender.append({
                        "name": status,
                        "value": sum(df_status['count'])
                    })
            
            if len(children_gender) > 0:
                children_age.append({
                    "name": gender,
                    "children": children_gender
                })
        
        if len(children_age) > 0:
            children_race.append({
                "name": age,
                "children": children_age
            })

    if len(children_race) > 0:
        children.append({
            "name": race,
            "children": children_race
        })

In [39]:
{
    "name": "officer",
    "children": children
}

{'name': 'officer',
 'children': [{'name': 'White',
   'children': [{'name': 'middle-aged',
     'children': [{'name': 'M',
       'children': [{'name': 'APPROVED', 'value': 34141},
        {'name': 'SUBMITTED', 'value': 7056},
        {'name': 'REVIEWED', 'value': 24915}]}]},
    {'name': 'young adult',
     'children': [{'name': 'M',
       'children': [{'name': 'APPROVED', 'value': 468},
        {'name': 'SUBMITTED', 'value': 24889},
        {'name': 'REVIEWED', 'value': 8351}]}]}]},
  {'name': 'Hispanic',
   'children': [{'name': 'middle-aged',
     'children': [{'name': 'M',
       'children': [{'name': 'APPROVED', 'value': 11648},
        {'name': 'SUBMITTED', 'value': 1429},
        {'name': 'REVIEWED', 'value': 7974}]}]},
    {'name': 'young adult',
     'children': [{'name': 'M',
       'children': [{'name': 'SUBMITTED', 'value': 9774},
        {'name': 'REVIEWED', 'value': 2808}]}]}]},
  {'name': 'Black',
   'children': [{'name': 'middle-aged',
     'children': [{'name': 'M',
       'children': [{'name': 'APPROVED', 'value': 4601},
        {'name': 'SUBMITTED', 'value': 422},
        {'name': 'REVIEWED', 'value': 2616}]}]},
    {'name': 'young adult',
     'children': [{'name': 'M',
       'children': [{'name': 'SUBMITTED', 'value': 833}]}]}]}]}